p {
    color: rgb(181, 227, 233);
}

.bonp {
    color: red;
    font-size: 25px;
    font-family: cursive;
}

h3.c {
    font-size: 20px;
    color: rgb(190, 250, 198);
    font-stretch: extra-expanded;
}

h2.b {
    font-style: italic;
    font-size: 20px;
    color: rebeccapurple;
}
h1.a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(247, 141, 129);
}
